Serveur web install&eacute; avec Ansible sur {{ inventory_hostname }}<br><br>

Les adresses r&eacute;seau IPv4 de ce serveur sont :<br>
{% for address in ansible_all_ipv4_addresses %}
<li>{{ address }}</li>
{% endfor %}